body {
    background-color: bisque;
}


.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
}


#inputTodo, li{
    min-width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}

#buttonTodo {
    border: 1px solid black;
    border-radius: 5px;
    color: red;
    font-weight: 600;
}

#ulTodo {
    list-style-type: none;
    text-align: center;
    padding: 0 3rem
}

ul span button, ul span li {
    margin: .1rem;
    
}

ul li {
    background-color: lightcoral;
    display: inline-block;
    width: 30%;
    margin: .2rem 0;
}


.doneToggle {
    text-decoration:line-through;
    background-color: lightgreen;
}

